<%- include ('layouts/header') %>

<h1 class="table">Manage Users</h1>

<table class="table">
  <thead>
    <th>id</th>
    <th>email</th>
    <th>role</th>
    <th>status</th>
    <th>actions</th>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.id %></td>
      <td><a href="/admin/user/<%= user.id %>"><%= user.email %></a></td>
      <td>
        <form action="/admin/update-role-status" method="post" class="manage-user-form">
          <input type="hidden" name="id" value="<%= user.id %>" />
          <select name="role" id="role">
            <option value="ADMIN" <%= user.role === 'ADMIN' ? 'selected' : '' %>>Admin</option>
            <option value="MODERATOR" <%= user.role === 'MODERATOR' ? 'selected' : '' %>>Moderator</option>
            <option value="CLIENT" <%= user.role === 'CLIENT' ? 'selected' : '' %>>Client</option>
          </select>
          <select name="status" id="status">
            <option value="Active" <%= user.status === 'Active' ? 'selected' : '' %>>Active</option>
            <option value="Inactive" <%= user.status === 'Inactive' ? 'selected' : '' %>>Inactive</option>
          </select>
          <input type="submit" value="Update">
        </form>
      </td>
      <td>
        <!-- Delete User Button -->
        <form action="/admin/delete-user" method="post" class="manage-user-form">
          <input type="hidden" name="id" value="<%= user.id %>" />
          <input type="submit" value="Delete" class="delete-btn">
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include ('layouts/footer') %>
